<template>
  <b-container>
    <b-row>
      <b-col>
        <h2>Quotes added</h2>
        <b-progress :max="10" show-progress>
          <b-progress-bar :value="counter">
            <strong>{{ counter }} / {{ 10 }}</strong>
          </b-progress-bar>
        </b-progress>
      </b-col>
    </b-row>
    <b-row align-h="center">
      <b-col md="6">
        <b-form-group label="Quote">
          <b-form-textarea v-model="quote"
                           placeholder="Enter something"
                           :rows="3"
                           :max-rows="6">
          </b-form-textarea>
        </b-form-group>
      </b-col>
    </b-row>
    <b-row class="text-center">
      <b-col>
        <b-button variant="primary" @click="addQuote">Add Quote</b-button>
        <p class="lead text-center">{{message}}</p>
      </b-col>
    </b-row>
    <b-row>
      <b-col>
        <b-card-group deck v-if="quotes">
          <b-card v-for="q in quotes" :key="q.value + Math.random()"
              border-variant="secondary"
              header-border-variant="secondary"
              align="center">
            <blockquote class="blockquote">{{ q.value }}</blockquote>
          </b-card>
        </b-card-group>
      </b-col>
    </b-row>
    <b-row>
      <b-col class="text-center">
        <b-button variant="secondary" @click="saveJSON">Download quotes</b-button>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
export default {
  name: 'app',
  data () {
    return {
      quote: '',
      counter: 0,
      message: 'No quotes, please add above ↑'
    }
  },
  computed: {
    quotes () {
      let quotesData = []
      if (window.localStorage.getItem('quotes')) {
        quotesData = JSON.parse(window.localStorage.getItem('quotes'))
      }
      this.counter = quotesData.length
      if (this.counter > 0) {
        this.message = ''
      } else if (this.counter === 0) {
        this.message = 'No quotes, please add above ↑'
      }
      return quotesData
    }
  },
  methods: {
    addQuote (evt) {
      if (this.counter < 10 && this.quote !== '') {
        this.quotes.push({value:this.quote})
        this.message = ''
        this.quote = ''
        window.localStorage.setItem('quotes', JSON.stringify(this.quotes))
        this.counter++;
      } else if(this.counter == 10) {
        this.message = 'You cannot add more quotes, please delete some'
      }
    },
    saveJSON (evt) {
      var data = JSON.stringify(this.quotes)
      var url = 'data:text/json;charset=utf8,' + encodeURIComponent(data)
      window.open(url, '_blank')
      window.focus()
    }
  }
}
</script>

<style>
.card-deck {
  margin: 20px -15px;
  align-items: center;
}
.card-deck .card {
  max-width: 20%;
  min-width: 20%;
  width: 20%;
  margin-bottom: 10px;
}
.blockquote {
  font-family: Arizonia, "Brush Script MT", cursive;
}
</style>
